@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&family=Nunito&display=swap");

/* || RESET*/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  /*rid of the margin bellow*/
  display: block;
  max-width: 100%;
  height: aut0;
}

/*forms dont inherit*/
input,
button,
textarea {
  font: inherit;
}

/* || VARIABLES */

:root {
  /* FONTS */
  --FF: "Nunito", sans-serif;
  --FF-HEADINGS: "Fugaz One", cursive;
  /*keeps us from adding mini media queries*/
  --FS: clamp(1rem, 2.2vh, 1.5rem);

  /* COLORS */
  /*good to have control to change from light to dark*/
  --BGCOLOR-FADE: rgb(252, 220, 160);
  --BGCOLOR: orange;
  --BGIMAGE: linear-gradient(to bottom, var(--BGCOLOR), var(--BGCOLOR-FADE));
  --BODY-BGCOLOR: #fff;
  --BORDER-COLOR: #333;
  --BUTTON-COLOR: #fff;
  --FONT-COLOR: #000;
  --HEADER-BGCOLOR: #000;
  --HEADER-COLOR: white;
  --HERO-BGCOLOR: rgba(51, 178, 51, 0.75);
  --HERO-COLOR: #fff;
  --HIGHLIGHT-COLOR: rgb(51, 171, 51);
  --LINK-ACTIVE: orange;
  --LINK-COLOR: #000;
  --LINK-HOVER: hsla(0, 0%, 0%, 0.6);
  --NAV-BGCOLOR: white;

  /* BORDERS*/
  --BORDERS: 1px solid var(--BORDER-COLOR);
  --BORDER-RADIUS: 15px;

  /*STANDARD PADDING*/
  /*tb = top bottom*/
  --PADDING-TB: 0.25em;
  /*right and left padding will take up 5 %*/
  --PADDING-SIDE: 2.5%;

  /*STANDARD MARGIN*/
  /*first value top bottom, second value right left*/
  --MARGIN: clamp(1em, 2.5vh, 1.5em) 0;
}

/*es, if you don't set specific colors in the dark mode (prefers-color-scheme: dark) section,
 the colors will indeed inherit from the light mode (default) settings.*/

/* || DARK MODE */
@media (prefers-color-scheme: dark) {
  :root {
    --BGCOLOR-FADE: gray;
    --BGCOLOR: #000;
    --BODY-BGCOLOR: #333;
    --BORDER-COLOR: whitesmoke;
    --BUTTON-COLOR: #000;
    --FONT-COLOR: whitesmoke;
    --HEADER-COLOR: whitesmoke;
    --HERO-COLOR: #333;
    --HIGHLIGHT-COLOR: whitesmoke;
    --LINK-ACTIVE: rgb(252, 500, 103);
    --LINK-COLOR: whitesmoke;
    --LINK-HOVER: orange;
    --NAV-BGCOLOR: rgb(20, 20, 20);
  }
}

/* || UTILITY CLASSES */

/*always use thse classes*/

/*to remove what i dont want, but it is still part of the html*/
.offscreen {
  position: absolute;
  left: -10000px;
}

/*ensure that the text wont wrap in a specific spot*/
.nowrap {
  white-space: nowrap;
}

/*center text*/
.center {
  text-align: center;
}

/* || GENERAL STYLES*/

html {
  /*always use this*/
  scroll-behavior: smooth;
  font-size: var(--FS);
  font-family: var(--FF);

  /*fall back, always put*/
  background-color: var(--BGCOLOR);
  background-image: var(--BGIMAGE);
}

body {
  background-color: var(--BODY-BGCOLOR);
  color: var(--FONT-COLOR);
  min-height: 100vh;
  max-width: 800px;

  /*center the body*/
  margin: 0 auto;
  border-left: var(--BORDERS);
  border-right: var(--BORDERS);

  /*x = 0  y  = 0 blur = 10px COLOR*/
  box-shadow: 0 0 10px var(--BORDER-COLOR);
}

h1,
h2,
h3 {
  font-family: var(--FF-HEADINGS);
  letter-spacing: 0.1em;
}

h2,
h3 {
  margin-bottom: 1em;
  color: var(--HIGHLIGHT-COLOR);
}

p {
  line-height: 1.5;
}

a:any-link {
  color: var(--LINK-COLOR);
}

/*focus-visible, after it is used it will change the color*/
a:hover,
a:focus-visible {
  color: var(--LINK-HOVER);
}

a:active {
  color: var(--LINK-ACTIVE);
}

/* || HEADER */

.header {
  /*so it stays at the top always and stays on top of other elements*/
  position: sticky;
  top: 0;
  z-index: 1;
}

.header h1 {
  text-align: center;
  background-color: var(--HEADER-BGCOLOR);
  color: var(--HEADER-COLOR);
  padding: var(--PADDING-TB) var(--PADDING-SIDE);
}

.header__nav {
  background-color: var(--NAV-BGCOLOR);
  border-bottom: var(--BORDERS);
  font-weight: bold;
  /*x y blue spead-radius color*/
  box-shadow: 0 6px 5px -5px var(--BORDER-COLOR);
}

.header__ul {
  padding: var(--PADDING-TB) var(--PADDING-SIDE);
  /*removes markers*/
  list-style-type: none;
  /*makes a row*/
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
}

/* || HERO */

.hero {
  /*for a relative point for an absolute element*/
  position: relative;
}

.hero__h2 {
  background-color: var(--HERO-BGCOLOR);
  color: var(--HERO-COLOR);
  padding: 0.25em 0.5em;
  letter-spacing: 0.1rem;
  text-shadow: 2px 2px 5px var(--BORDER-COLOR);
  /*takes the element out of the flow, now it wont have a 100% width as a block element*/
  position: absolute;
  left: 20px;
  top: -100px;

  /*after adding keyframe I add the animation*/
  /*name duration timing-function delay iteration-count direction fill-mode play-state*/
  /*forwards = keeps the last keyframe*/
  animation: showWelcome 0.5s ease-in-out 1s forwards;
}

/*animation*/
@keyframes showWelcome {
  0% {
    top: -20px;
    transform: skew(0deg, -5deg) scaleY(0);
  }
  80% {
    top: 30px;
    transform: skew(10deg, -5deg) scaleY(1.2);
  }
  100% {
    top: 20px;
    transform: skew(-10deg, -5deg) scaleY(1);
  }
}

/*should inspect the mobile design constantly so I can see if the sizes are correct*/

/* || FOOTER */

.footer {
  position: sticky;
  bottom: 0;
  /*to stay like with the header*/
  background-color: var(--HEADER-BGCOLOR);
  color: var(--HEADER-COLOR);
  padding: var(--PADDING-TB) var(--PADDING-SIDE);
  text-align: center;
}

/* || MAIN */

.main {
  padding: var(--PADDING-TB) var(--PADDING-SIDE);
}

.main__article {
  /*enable the information to show instead of scrolling under the header
  margin between the article and the viewport, wont let the menu hide*/
  scroll-margin-top: 6.5rem;
  margin: var(--MARGIN);
}

.main__article:first-child {
  margin-top: 1em;
}

.main__article:last-child {
  /*extra room to scroll*/
  min-height: calc(100vh - 20rem);
}

/*starting individual pages*/

/* || ABOUT */

/*I dont need to style about, just wanted to have it as a parent*/

.about__trivia {
  margin: var(--MARGIN);
}

.about__trivia-answer {
  margin-top: 1em;
}

/* || CONTACT */

.contact__h2 {
  margin: 0;
}

.contact__fieldset {
  border: none;
}

.contact__p {
  margin: 1em 0;
}

.contact__label {
  display: block;
  font-weight: bold;
}

.contact__input,
.contact__textarea {
  padding: 0.5em;
  border-radius: var(--BORDER-RADIUS);
  border-width: 2px;
  width: 100%;
}

.contact__button {
  padding: 0.5rem;
  border-radius: var(--BORDER-RADIUS);
  background-color: var(--HIGHLIGHT-COLOR);
  color: var(--BUTTON-COLOR);
  font-weight: bold;
}

/* || MENU */

/*cant use grid directly to a table, I need to flatten it*/
/*display: contents = makes the table a grid,

we will display: contents in the table head, tr, tbody, tfoot, so grid ignores those, 
the content we want for the grid will be inside the th and td
*/

thead,
tbody,
tfoot,
tr {
  /*for the grid to ignore the table elements
  took them out of the flow*/
  display: contents;
}

.menu__container {
  display: grid;
  /*3 cols each 1 fraction*/
  grid-template-columns: repeat(3, 1fr);
  /*only need to assign the labels to those who will take up more than 1 square*/

  /*cr = crunchy, crp = cr price, sf = soft, sfp = soft price
  mapped out labels, now I need to apply them to the items*/
  grid-template-areas:
    "hd1 hd2 hd2"
    "cr cr1 cr1p"
    "cr cr2 cr2p"
    "cr cr3 cr3p"
    "sf sf1 sf1p"
    "sf sf2 sf2p"
    "sf sf3 sf3p"
    "cs cs cs";

  gap: 0.1em;
  margin-bottom: 1em;
} /*gid has 8 rows and 3 columns, row1 = "hd1, hd2, hd3"....*/

/*apply the labels*/
.menu__cr {
  /*gave it a spot in the grid*/
  grid-area: cr;
}

.menu__sf {
  grid-area: sf;
}

.menu__cs {
  grid-area: cs;
}

.menu__cr,
.menu__sf,
.menu__cs,
.menu__header {
  color: var(--HIGHLIGHT-COLOR);
  font-weight: bold;
  height: 100%;
  /*to make the text center*/
  display: grid;
  place-content: center;
}

.menu__header,
.menu__item {
  width: 100%;
  padding: 1em;
  border: medium ridge var(--BORDER-COLOR);
}

.menu__item {
  display: grid;
  place-content: center;
}

/*tacos spot, to round the left side*/
thead th:first-child {
  border-top-left-radius: var(--BORDER-RADIUS);
}
thead th:last-child {
  border-top-right-radius: var(--BORDER-RADIUS);
}

tfoot td {
  border-bottom-left-radius: var(--BORDER-RADIUS);
  border-bottom-right-radius: var(--BORDER-RADIUS);
}

/* || MEDIA QUERIES */
@media screen and (min-width: 576px) {
  .header__h1::before {
    content: "🌮 ";
  }
  .header__h1::after {
    content: " 🌮";
  }

  .menu__header,
  .menu__cr,
  .menu__sf,
  .menu__cs {
    font-size: 125%;
  }
}
